//dark shades of the primary color 
$primary-0: hsl(2,80%,21%);
$primary-1: hsl(2,80%,29%);
$primary-2: hsl(2,80%,35%);
$primary-3: hsl(2,80%,45%);
$primary-4: hsl(2,80%,52%);
$primary-5: hsl(2,80%,60%);
$primary-6: hsl(2,80%,67%);
$primary-7: hsl(2,80%,74%);
$primary-8: hsl(2,80%,81%);
$primary-9: hsl(2,80%,88%);

$secondary-0: hsl(10,80%,21%);
$secondary-1: hsl(10,80%,29%);
$secondary-2: hsl(10,80%,37%);
$secondary-3: hsl(10,80%,45%);
$secondary-4: hsl(10,80%,52%);
$secondary-5: hsl(10,80%,60%);
$secondary-6: hsl(10,80%,67%);
$secondary-7: hsl(10,80%,74%);
$secondary-8: hsl(10,80%,81%);
$secondary-9: hsl(10,80%,88%);

$grey-0: hsl(210,40%,21%);
$grey-1: hsl(210,40%,29%);
$grey-2: hsl(210,20%,37%);
$grey-3: hsl(210,20%,45%);
$grey-4: hsl(210,20%,52%);
$grey-5: hsl(210,20%,60%);
$grey-6: hsl(210,20%,67%);
$grey-7: hsl(210,20%,74%);
$grey-8: hsl(210,20%,81%);
$grey-9: hsl(210,20%,88%);

//misc.colors

$white: #fff;
$black: #222;
$red-dark: hsl(0,66%,34%);
$red-light: hsl(0,66%,66%);
$green-dark: hsl(125,66%,34%);
$green-light: hsl(125,66%,66%);